body {
	background-color:#f9f9f9;
	height: 100%;
	margin: 0;
	padding:0;
	color:#222222;
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
}

h1  {
	color:#cb3a01;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
}

h2  {
	color:#cb3a01;
	font-family: 'Arial', sans-serif;
	font-size: 20px;
}

hr {
	border: 0;
	width: 100%;
	background-color: #cb3a01;
	height: 1px;
}
	
A:link {color: #cb3a01; text-decoration: none;}
A:visited {color: #cb3a01; text-decoration: none;}
A:active {color: #cb3a01; text-decoration: none;}
A:hover {color: #cb3a01; text-decoration: none;}

#container {
    width:1000px;
    margin:0 auto;
	margin-top:5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 50px;
	overflow: auto;
}

#footer{	
	background-color:#f1f1f1;
	border-bottom:1px solid #e5e5e5;
	border-top:1px solid #e5e5e5;
    width:100%;
	height:50px;
	margin:0 auto;	
	margin-top:-52px;
	clear:both;
}

#footer-content{
	color:#cb3a01;
	width:1000px;
	position:relative;
	height:35px;
	margin:0 auto;	
	padding-top:15px;
}

#header{	
	background-color:#f1f1f1;
    width:100%;
	height:70px;
	margin:0 auto;	
	position:relative;
	border-bottom:1px solid #e5e5e5;
	margin-bottom:20px;
}

#header-content{
	width:1000px;
	position:relative;
	height:70px;
	margin:0 auto;	
	overflow: hidden;
}

#header-left{
	text-align: left;
	width:50%;
	float:left; 
	color:#222222;
	font-family: 'Segoe UI', sans-serif;
	font-size: 18px;
	padding-top:36px;
}

#header-right{
	text-align: right;
	width:50%;
	float:left; 
	padding-top:40px;
}

#header2{	
	background-image:url('img/headerbg.png');
	background-color:#f1f1f1;
	border:1px solid #222222;
    width:1000px;
	height:150px;
	margin:0 auto;	
	position:relative;
}

#page {
	width:100%;
	min-height: 100%;
	position: relative;
}