body {
	background-color:#f9f9f9;
	height: 100%;
	margin: 0;
	padding:0;
	color:#222222;
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
}

h1  {
	color:#cb3a01;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
}

h2  {
	color:#cb3a01;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
}

hr {
	border: 0;
	width: 100%;
	background-color: #cb3a01;
	height: 1px;
}
	
A:link {color: #cb3a01; text-decoration: none;}
A:visited {color: #cb3a01; text-decoration: none;}
A:active {color: #cb3a01; text-decoration: none;}
A:hover {color: #cb3a01; text-decoration: none;}

.show {display: none; }
      .hide:focus + .show {display: inline; }
      .hide:focus { display: none; }
      .hide:focus ~ #list { display:none; }
      @media print { .hide, .show { display: none; } }
	  
.date { 
	background-color:#f1f1f1;
	border:1px solid #e5e5e5;
	color: #222222; 
	font-size: 12px; 
}

.dump { 	
	border:1px solid #01cbac;
	color: #01cbac; 
	font-size: 12px; 
}

.deliv { 
	border:1px solid #cb1901;
	color: #cb1901; 
	font-size: 12px; 
}

#container {
    width:50%;
    margin:0 auto;
	margin-top:5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom:30px;
	overflow: auto;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}

#footer{	
	background-color:#f1f1f1;
	border:1px solid #e5e5e5;
	color: #cb1901; 
	font-size: 14px; 
    width:148px;
	margin:0 auto;	
	margin-top:25px;
	margin-bottom:25px;
	clear:both;
	text-align: center;
	color: #cb3a01
}

#header{	
	background-color:#f1f1f1;
    width:100%;
	height:70px;
	margin:0 auto;	
	position:relative;
	border-bottom:1px solid #e5e5e5;
	margin-bottom:20px;
}

#header-content{
	width:50%;
	position:relative;
	height:70px;
	margin:0 auto;	
	overflow: hidden;
}

#header-left{
	text-align: left;
	width:50%;
	float:left; 
	color:#222222;
	font-size: 16px;
	padding-top:38px;
}

#header-right{
	text-align: right;
	width:50%;
	float:left; 
	padding-top:40px;
}

.divider{	
	border-top:1px dotted #e5e5e5;
    width:100%;
	height:2px;
	margin:0 auto;	
	margin-top:15px;
	margin-bottom:15px;
	position:relative;
}

#page {
	width:100%;
	min-height: 100%;
	position: relative;
}

.deliverables {
text-align: center;
}

.deliverables a {
display:inline-block;
width:150px;
height:150px;
background-color:white;
border:1px solid #e5e5e5;
padding: 1px;
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;
opacity: 0.85;


filter: grayscale(90%0%);
    -webkit-filter: grayscale(90%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
}

.deliverables a:hover {
filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
opacity: 1;
box-shadow: 0 0 10px white;

}

.deliverables a:hover:after
{
	color: black;
	text-decoration: none;
	color:#222222;
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
    content: attr(alt);
	position: relative;
    float: left;
    list-style: none;
	background-color: white;
	margin-top: 5px;
	width: 148px;
	border: 1px solid #e5e5e5;
	

	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: 0 0 10px white;

}